@using LinkShortener.Api.Models
@using System.Text.Json
@model CreateLinkModel
@{
    ViewData["Title"] = "Сократи ссылку!";
    Layout = "_Layout";
}

<div class="text-center">
    <div class="card-header bg-dark bg-opacity-50 text-white fw-bold rounded-3 border-2 border-light border">
        Сократи ссылку!
    </div>
    <div class="m-5">
        <p class="text-white">@ViewBag.IsSuccess</p>
        <form asp-action="CreateLink" asp-controller="Home" method="post">
            <span class="text-danger" asp-validation-for="Link"></span>
            <input class="container-fluid text-center" type="text" asp-for="Link"/>
            <button class="btn btn-dark m-3 border-light border-2" type="submit">Сократить</button>
        </form>
    </div>
</div>

<div class="text-center">
    @{
        using var client = new HttpClient();
        client.DefaultRequestHeaders.Add("ownerId", $"{Context.User.Claims.First(x => x.Type == "Id").Value}");
        var response = await client.GetAsync("http://localhost:5255/api/Shorten/GetLinks");
        IEnumerable<ShortenLinkModel>? models =
            await JsonSerializer.DeserializeAsync<IEnumerable<ShortenLinkModel>>(
                await response.Content.ReadAsStreamAsync(), new JsonSerializerOptions(JsonSerializerDefaults.Web));
        <div class="container-fluid border border-3 text-white">
            <table class="container-fluid">
                <tr>
                    <th>Ссылка</th>
                    <th>Короткая ссылка</th>
                    <th>Создана</th>
                    <th>Количество переходов</th>
                </tr>
        @foreach (var link in models)
        {
            <tr>
                <td>@link.Link</td>
                <td><a href="http://localhost:5064/@link.Token" class="text-decoration-none">@link.Token</a></td>
                <td>@((DateTime.Now - link.Created).Days) дней назад</td>
                <td>@link.CountOfRedirects</td>
            </tr>
        }    
            </table>
        </div>
        
    }
</div>